@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&family=Montserrat:wght@700&family=Playfair+Display&family=Ubuntu+Mono&display=swap');

:root {
  --color-main: #f1ede6;
  --color-text: #3a2d28;
  --color-base: #cbad8d;
  --color-nude: #a48374;
  --color-brand-bg: #d1c7bd;
  --color-modal-bg: #959d90;
  --color-categories-bg: #f2f2f2;
  --color-img-bg: #bcbcbc;
  --color-white: #fff;
  --color-gray: #797979;
  --color-light-gray: #f5f5f5;
  --color-red: rgb(255, 0, 0);
  --color-primary: #ca5252;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

body {
  background-color: var(--color-main);
  color: var(--color-text);
  font-family: 'Comfortaa', sans-serif;
  font-weight: 300;
}

body.modal-open {
  overflow: hidden;
}

.wrapper {
  margin: auto;
}

header {
  position: relative;
}

.header {
  display: flex;
  background-color: var(--color-brand-bg);
  padding: 18px;
  justify-content: space-between;
}

header .logo {
  color: var(--color-text);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -.03em;
  line-height: 1.71em;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  header .logo {
    font-size: 18px;
    line-height: 1.11em;
  }
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul.nav li {
  display: none;
}

@media screen and (min-width: 1200px) {
  header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
  }

  header ul.nav li:hover,
  header ul.nav li:focus {
    opacity: 0.5;
  }
}

header .shop-card-button {
  padding-right: 10px;

  transition: color 500ms ease, transform 500ms ease;
}

header .shop-cart .empty .shopping-message {
  font-size: 10px;
  line-height: 1.2em;
  text-align: center;
  color: var(--color-text);
  padding: 20px 0 20px 0;
}

header .shop-cart {
  position: absolute;
  top: 30px;
  right: 0;
  max-width: 180px;
  background: var(--color-light-gray);
  z-index: 9999;
  padding: 20px;
  padding-bottom: 0;
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  header .shop-card-button {
    float: right;
    cursor: pointer;
    transition: color 500ms ease, transform 500ms ease;
  }

  header .shop-card-button:focus,
  header .shop-card-button:hover,
  header .shop-card-button.active {
    color: var(--color-base);
    transform: scale(1.5);
  }

  header .shop-cart {
    position: absolute;
    top: 30px;
    right: 0;
    max-width: 500px;
    background: var(--color-light-gray);
    z-index: 9999;
    padding: 20px;
    padding-bottom: 0;
  }

  header .shop-cart .empty .shopping-message {
    font-size: 14px;
    text-align: center;
    color: var(--color-text);
    margin-bottom: 20px;
  }
}

header .shop-cart .item {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

header .shop-cart .item img {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 20px;
}

header .shop-cart .item p {
  color: var(--color-gray);
  font-weight: 500;
}

header .shop-cart .item h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--color-text);
}

header .shop-cart .item .delete-icon {
  color: var(--color-base);
  float: right;
  position: relative;
  top: -40px;
  cursor: pointer;
  transition: color 500ms ease, transform 500ms ease;
}

header .shop-cart .item .delete-icon:hover,
header .shop-cart .item .delete-icon:focus {
  color: var(--color-red);
  transform: scale(1.5);
}

header .shop-cart .summa {
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}


header .presentation {
  margin: 0 0 50px 0;
  background: url('./img/bg.jpeg') no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: var(--color-img-bg);
  position: relative;
}

@media screen and (min-width: 768px) {
  @media screen and (min-width: 1200px) {
    header .presentation::after {
      content: 'Декор для вашего уюта';
      position: absolute;
      top: 150px;
      left: 50px;
      width: 300px;
      font-size: 38px;
      font-weight: 600;
      color: var(--color-main);
    }

    header .presentation::before {
      content: 'По низким ценам';
      position: absolute;
      top: 250px;
      left: 50px;
      width: 300px;
      font-size: 14px;
      font-weight: 300;
      color: var(--color-main);
    }
  }
}

header .presentation::after {
  content: 'Декор для вашего уюта';
  position: absolute;
  top: 100px;
  left: 25px;
  width: 200px;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-main);
}

header .presentation::before {
  content: 'По низким ценам';
  position: absolute;
  top: 180px;
  left: 25px;
  width: 300px;
  font-size: 12px;
  font-weight: 800;
  color: var(--color-main);
}



.categories div {
  background: var(--color-categories-bg);
  border-radius: 50px;
  padding: 5px 10px;
  border: 1px solid var(--color-base);
  width: 70px;
  display: inline-block;
  margin: 0 auto;
}

div.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .categories div {
    background: var(--color-categories-bg);
    border-radius: 50px;
    border: 1px solid var(--color-base);

  }

  div.categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 0 25px 50px 25px;
  }
}

@media screen and (min-width: 1200px) {

  .categories div:hover,
  .categories div:focus {
    border-color: var(--color-text);
    transform: scale(1.05);
  }

  .categories div {
    background: var(--color-categories-bg);
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid var(--color-base);
    transition: all 500ms ease;
  }

  div.categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 0 25px 50px 25px;
  }
}


.full-item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(36, 36, 36, 0.4);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-item>div {
  max-width: 600px;
  padding: 40px 30px;
  background: var(--color-white);
  border-radius: 9px;
  position: relative;
  z-index: 9999;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item {
  width: 30%;
  margin-bottom: 50px;
  background: var(--color-light-gray);
  background-size: cover;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}

main .item img,
.full-item img {
  width: 100%;
}


@media only screen and (min-width: 768px) {

  main .item {
    width: 30%;
    margin-bottom: 50px;
    background: var(--color-light-gray);
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 1200px) {

  main .item img:hover,
  main .item img:focus,
  .full-item .item img:focus,
  .full-item .item img:hover {
    transform: scale(1.05);
  }

  main .item img,
  .full-item img {
    width: 100%;
    transition: transform 500ms ease;
    cursor: pointer;
  }

  main .item {
    width: 30%;
    margin-bottom: 50px;
    background: var(--color-light-gray);
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
  }
}

main h2,
.full-item h2,
main p,
.full-item p,
main b,
.full-item b {
  margin: 10px 20px;
  color: var(--color-text);
  font-size: 10px;
}

main b {
  font-size: 10px;
  font-weight: 100;
}

.full-item b {
  font-size: 10px;
  font-weight: 200;
}

main p,
.full-item p {
  font-size: 14px;
  color: var(--color-nude);
}

@media screen and (min-width: 768px) {

  main h2,
  .full-item h2,
  main p,
  .full-item p,
  main b,
  .full-item b {
    font-size: 14px;
    margin: 10px 20px;
  }
}

@media screen and (min-width: 1200px) {

  main h2,
  .full-item h2,
  main p,
  .full-item p,
  main b,
  .full-item b {
    margin: 10px 20px;
  }

  main p,
  .full-item p {
    font-size: 18px;
  }
}

main .add-to-cart,
.full-item .add-to-cart {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: var(--color-primary);
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 30px;
  color: var(--color-white);
  border-radius: 50%;
  font-weight: 400;
}

@media only screen and (min-width: 1200px) {

  main .add-to-cart,
  .full-item .add-to-cart {
    right: 20px;
    bottom: 20px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
  }

  main .add-to-cart:hover,
  main .add-to-cart:focus,
  .full-item .add-to-cart:hover,
  .full-item .add-to-cart:focus {
    transform: scale(1.2) translateY(-5px);
  }
}



.close-button {
  background: transparent;
  color: var(--color-primary);
  border: none;
  cursor: pointer;
  float: right;
  margin-bottom: 30px;
  transition: all 500ms ease;
  font-size: 14px;
}

@media only screen and (min-width: 1200px) {
  .close-button {
    cursor: pointer;
    font-size: 18px;
  }

  .close-button:hover,
  .close-button:focus {
    color: var(--color-red);
    transform: scale(1.1);
  }
}

.address {
  padding-bottom: 30px;
}

.catSoft {
  padding-top: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  background: var(--color-brand-bg);
  color: var(--color-text);
  text-align: center;
  padding: 50px;
}

footer a {
  color: var(--color-text);
  text-decoration: none;
  margin: 0 5px;
  padding: 10px;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .burger {
    display: none;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform 250ms ease-in-out;
  z-index: 9999;
}

.modal-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background-color: var(--color-modal-bg);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 250ms ease-in-out;
  z-index: 9999;
}

.modal.open .modal-overlay {
  width: 100%;
}

.modal.open .modal-content {
  width: 60%;
}

.content-modal-text {
  padding-top: 50px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 1.14em;
}

.text-modal-mb {
  padding-bottom: 4px;
}

.text-modal-mb:last-child {
  padding-bottom: 0;
}

.close-btn-mb {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 16px;
  color: var(--color-text);
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 14px;
  padding: 40px;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-main);
  width: 100%;
}